#collections{
    margin-left: 20px;
    margin-right: 20px;
}

#collectionstab{
    justify-content: stretch;
}

#collectionstab:after{
    display: block;
}

.collectionscontainer{
    padding-left: 20px;
    padding-right: 20px;
}

.collectionCard{
    width: 30%;
    margin: 10px;
}

.collectionCard > *{
    margin-left: 10px;
    margin-right: 10px;
}

.cardcontainer{
    justify-content: stretch;
    flex-wrap: wrap;
}