/* Styles for alert banner */
.alertContainer{
    margin: 5px 20px;
    padding-left: 20px;
    border-radius: 5px;
}

/* Styles for displaying collection 'cards' */

/* Offset the entire display from the sides */
#collections{
    margin-left: 20px;
    margin-right: 20px;
}

/* Styles the tabs */
#actualTabs{
    /* actualTabs is a 'flexcontainer' (definition in main.css; however the default for justify-content is 'space-between' */
    /* what we want is to have the tabs to be next to each other without spacing, so we use justify-content: stretch */
    justify-content: stretch;
}

/* styles the collection card/s wrappers */
/* again we do not want the cards to 'stick' to the border */
.collectionscontainer{
    padding-left: 20px;
    padding-right: 20px;
}

.cardcontainer{
    justify-content: stretch;
    flex-wrap: wrap;
}

.collectionCardBorder{
    margin: 10px;
}

/* Styles the actual collection cards */
.collectionCard{
    display: block;
    /* this is to ensure that the 'Add Collections' Card do not collapse out of shape when there is no collections (created by user),
       as the height of all collection cards is determined by the maximum height of all cards before any height adjustment. */
    min-height: 200px;
}

.collectionCard:hover{
    cursor: pointer;
}

.collectionCard > *{
    margin-left: 10px;
    margin-right: 10px;
}

.collectionCard:disabled{
    /* There should be no style changes when disabling the collection card */
    color: black;
    background-color: rgb(238, 238, 238);
    border-color: rgb(133, 133, 133);
    border-width: 1px;
    /* except for this */
    cursor: default;
}

.deleteCollectionCheckboxSpan input[type=checkbox]{
    width: 30px;
    height: 30px;
}

.card-progress-bar > *{
    text-align: right;
}

/* This styles are specifically for the 'Add Collection card. */
/* the div in the 'add collection' card that contains an add 'sign' and the "Click to add a new xollection" 'text' */
.signtextgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.addsign{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* basically the '+' sign */
.addsigntext{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newcollectiontext{
    text-align: center;
}

/* Styles for modals */

/* Styles for 'Add collections / edit collections form */
.collectionForm > *, .updateProblemsForm > *{
    margin: 5px;
}

/* to align submit button with the textboxes */
.collectionForm .submitCollection{
    margin-right: 0px;
    display: block;
}

.editCollection{
    margin-left: 0px;
}

.collectionForm textarea{
    width: 100%;
    height: 80px;
    resize: none;
}

.collectionForm .titlefield{
    width: 69%;
    margin-right: 2px;
}

.collectionForm .idfield{
    width: 29%;
    margin-left: 2px;
}

input:read-only{
    color: rgb(194, 189, 168);
}

.clone, .remove, .addToTODO, .removeFromTODO{
    height: 100%;
    width: 30px;
    color: white;
    border-radius: 20%;
    border: none;
    padding: 1px;
}

.clone:hover, .remove:hover, .addToTODO:hover, .removeFromTODO:hover{
    cursor: pointer;
}

.clone, .addToTODO{
    background-color: rgb(33, 182, 33);
}

.remove, .removeFromTODO{
    background-color: red;
}

.collectionDescription{
    height: 100px;
    overflow-y: auto;
}

/* Styles the table that displays the problems, whether in edit collections / view collectons mode */
.problemsTable{
    width: 100%;
    table-layout: fixed;
}

.problemsTable .clonedInput td input, .problemsTable .clonedInput td select{
    height: 100%;
    width: 100%;
}

/* overflow-x: auto makes sure that every text in the table can be seen, albeit a little inconvenience from the users */
/* this is better than overlapping text */
.problemsTable tr th, .problemsTable tr td{
    overflow-x: auto;
}

/* Styles specically for 'view collections' modals */
.urlLink{
    width: 25%;
    overflow-x: auto;
}

.buttonField{
    width: 12%;
}

.scoreField{
    width: 15%;
}

.scoreField input{
    width: 100%;
    /* hide up-down arrows in Firefox*/
    -moz-appearance: textfield;
}

/* hide up-down arrows */
.scoreField input::-webkit-outer-spin-button,
.scoreField input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nameField{
    width: 20%;
}

.verdictField select{
    width: 100%;
    height: 100%;
}

/* Similarly, for public view collections (though the layout is a little different) */
.publicNameField{
    width: 30%;
}

.publicUrlLink{
    width: 50%;
    overflow-x: auto;
}

.publicFormatField{
    width: 20%;
    overflow-x: auto;
}

/* Styles specifically for the clone modals */
.cloneModalContent{
    max-width: 600px;
}

.cloneForm div{
    display: flex;
    align-items: center;
}

.cloneNewID{
    flex: 2;
}

.cloneNewID, .labelNewID{
    margin: 5px;
    margin-right: 0px;
}

.submitClone{
    margin: 5px;
    margin-right: 0px;
}