/* login page does not inherit from main page, so we should not include 'main.css' in login page */
/* hence there may be some repeated styles here */
.flexcontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3px;
}

.centered{
    text-align: center;
}

#infoandlogin{
    display: table;
    width: 100%;
    min-height: 100vh;
    padding: 1px;
}

/* display: table-cell makes both div heights the same */
#loginformdiv{
    display: table-cell;
    width: 40%;
    min-height: 100vh;
    border: 1px solid black;
}

#infocol{
    display: table-cell;
    width: 60%;
    min-height: 100vh;
    border: 1px solid black;
}

hr {
    margin: 10px 0;
}

#orseparator{
    margin: 3px 0;
}

#loginformdiv form input[type=submit]{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
