nav {
  overflow: hidden;
}

.flexcontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3px;
}

.flexcontainer:after{
    display: block;
}

.maintitle{
    padding-left: 20px;
}