.flexcontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3px;
}

.centered{
    text-align: center;
}

#infocol{
    width: 60%;
    height: 800px;
    border: 1px solid black;
}

#loginformdiv{
    width: 40%;
    height: 800px;
    border: 1px solid black;
}

hr {
    margin: 10px 0;
}

#orseparator{
    margin: 3px 0;
}
/*
#loginformdiv form{
    width: 100%;
}

#loginformdiv form div label{
    width: 40%;
    display: inline-block;
    text-align: center;
}

#loginformdiv form div input{
    width: 55%;
}

#loginformdiv form div{
    margin-bottom: 5px;
}
*/

#loginformdiv form input[type=submit]{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

@media only screen and (min-height: 800px){
    body{
        overflow: hidden;
    }
    
    #infocol{
        width: 60%;
        height: 97vh;
        border: 1px solid black;
    }

    #loginformdiv{
        width: 40%;
        height: 97vh;
        border: 1px solid black;
    }
}