{% extends "template.html" %}

{% macro createProblemCollectionsForm(data) %}
    <div class="flexcontainer">
        <div class="titlefield">
            <label for='collectionTitle'> Title: </label>
            {% if 'collectionTitle' in data %}
                <input class="w3-input w3-border" id={{data['id'] + '-collectionTitle'}} name='collectionTitle' type="text" value={{data['collectionTitle']}} maxlength="50" required>
            {% else %}
                <input class="w3-input w3-border" id='newCollectionTitle' name="collectionTitle" type="text" maxlength="50" required>
            {% endif %}
        </div>
        <div class="idfield">
            <label for='collectionID'> Collection ID*: </label>
            {% if 'id' in data %}
                <input class="w3-input w3-border" id={data['id'] + '-id'}} name='collectionID' type="text" value={{data['id']}} required disabled>
            {% else %}
                <input class="w3-input w3-border" id='newCollectionID' name="collectionID" type="text" required>
            {% endif %}
        </div>
    </div>
    <label for='description'> Description: </label>
    {% if 'description' in data %}
        <textarea id={{'description' + data['id']}} name='description'> {{data['description']}} </textarea>
    {% else %}
        <textarea id="newDescription" name="description"> </textarea>
    {% endif %}
    <label> Problem(s) </label>
    <table class="w3-table-all problemsTable">
        <thead>
            <tr class="w3-white"> 
                <th> Problem Name </th>
                <th> Problem Link </th>
                <th> Problem Format </th>
                <th> Add/Remove </th>
            </tr>
        </thead>
        {% if 'problems' in data %}
            <!-- cry.............. -->
        {% else %}
            <tbody>
                <tr id="newClonedInput0" class="clonedInput">
                    <td>
                        <input required type="text" value="" id="newProblemName-0" name="problemName-0" class="form-control" placeholder="Name">
                    </td>
                    <td>
                        <input required type="url" value="" id="newProblemUrl-0" name="problemUrl-0" class="form-control" placeholder="https://codeforces.com/">
                    </td>
                    <td>
                        <select id="newProblemFormat-0" name="problemFormat-0">
                            <option value="IOI"> IOI </option>
                            <option value="ICPC"> ICPC </option>
                        </select>
                    </td>
                    <td>
                        <button id="btnAdd-0" name="btnAdd-0" type="button" class="w3-button clone">+</button>
                        <button id="btnDel-0" name="btnDel-0" type="button" class="w3-button remove">-</button>
                    </td>
                </tr>
            </tbody>
        {% endif %}
    </table>
    <p> *Collection ID is an unique identifier for your collection. <b> It cannot be changed after creation of collection. </b> </p>
{% endmacro %}

{% block otherLinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
<script src="{{ url_for('static', filename='js/homePage.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="maintitle"> My Collections </h2>
<div id="collections">
    <div class="flexcontainer" id="collectionstab">
        <button class="w3-bar-item w3-button w3-light-gray w3-border" onclick='openCollectionsTab("publicCollectionsDiv");'> Public Collections </button>
        <button class="w3-bar-item w3-button w3-light-gray w3-border" onclick='openCollectionsTab("myCollectionsDiv");'> My Collections </button>
    </div>
    <div id="publicCollectionsDiv" class="w3-border collectionscontainer">
        <p> To be added </p>
    </div>
    <div id="myCollectionsDiv" class="w3-border collectionscontainer">
        <div class="cardcontainer flexcontainer">
            {% for i in range(7) %}
            <button class="w3-card-4 collectionCard">
                <div class="h3-container w3-gray card-header">
                    <h5> Sample title is sample title is sample title </h5>
                </div>
                <div class="w3-light-gray w3-border card-progress-bar">
                    <div class="w3-green w3-text-black" style="width: 20%"> 20% </div>
                </div>
                <div class="card-desc"> This is sample text. </div>
                <div class="card-created"> 
                    <p> <b> Created on: </b> 12/3/2020 </p>
                </div>
                <div class="card-shared"> 
                    <p> <b> Shared: </b> 12/3/2020 </p>
                </div>
            </button>
            {% endfor %}
            <button class="w3-card-4 collectionCard" onclick="openModal('addcollectionmodal')">
                <div class="signtextgroup">
                    <div class="w3-border addsign"> <p class="addsigntext"> + </p> </div>
                    <div class="newcollectiontext"> Click to add a new collection... </div>    
                </div>
            </button>
        </div>
    </div>
</div>
<div id="addcollectionmodal" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="closeModal('addcollectionmodal');" class="w3-button w3-display-topright">&times;</span>
        <h3> Create New Collection </h3>
        <form action="{{ url_for('add_collection') }}" method="POST" class="collectionForm w3-container">
            {{createProblemCollectionsForm({})}}
            <button id="submitNewCollection" name="submitNewCollection" class="w3-button w3-right w3-green submitCollection"> Create Collection </button>
        </form>
      </div>
    </div>
</div>
{% endblock %}