{% extends "template.html" %}

{% macro createProblemCollectionsForm(data) %}
    <!-- All these field autofills with the collection data for already created collections -->
    <div class="flexcontainer">
        <!-- Collection Title Field -->
        <div class="titlefield">
            <label for='collectionTitle'> Title: </label>
            {% if 'title' in data %}
                <input class="w3-input w3-border" id="{{data['id'] + '-collectionTitle'}}" name='collectionTitle' type="text" value="{{data['title']}}" maxlength="50" required>
            {% else %}
                <input class="w3-input w3-border" id='newCollectionTitle' name="collectionTitle" type="text" maxlength="50" required>
            {% endif %}
        </div>

        <!-- Collection ID field -->
        <div class="idfield">
            <label for='collectionID'> Collection ID*: </label>
            {% if 'id' in data %}
                <!-- Collection ID can never be changed once created - to ensure integrity of the json data -->
                <input class="w3-input w3-border" id="{{data['id'] + '-id'}}" name='collectionID' type="text" value="{{data['id']}}" required readonly>
            {% else %}
                <input class="w3-input w3-border" id='newCollectionID' name="collectionID" type="text" required>
            {% endif %}
        </div>
    </div>

    <!-- hidden flag to tell the server code whether to add a new ID to the server or not -->
    {% if 'id' in data %}
        <input id="{{data['id'] + '-idPrefilled'}}" name='idPrefilled' type="hidden" value="true">
    {% else %}
        <input id='newIdPrefilled' name='idPrefilled' type="hidden" value="false">
    {% endif %}

    <!-- Collection Description -->
    <label for='description'> Description: </label>
    {% if 'description' in data %}
        <textarea id="{{data['id'] + '-description'}}" name='description' class="w3-input w3-border">{{data['description']}}</textarea>
    {% else %}
        <textarea id="newDescription" name="description"></textarea>
    {% endif %}

    <!-- Collection Problems -->
    <!-- Note that any ID/Name for the fields of any problem must follow the following format: <name><number> -->
    <label> Problem(s) </label>
    <table class="w3-table-all problemsTable">
        <thead>
            <tr class="w3-white"> 
                <th> Problem Name </th>
                <th> Problem Link </th>
                <th> Problem Format </th>
                <th> Add/Remove </th>
            </tr>
        </thead>
        {% if 'problems' in data %}
            <tbody>
                {% for i in range(data['problems']|length) %}
                <tr id="{{data['id']}}ClonedInput{{i}}" class="clonedInput" draggable="true" ondragstart="start();" ondragover="dragover();" ondragend="reorder();">
                    <td draggable="false">
                        <input required type="text" value="{{data['problems'][i]['name']}}" id="{{data['id']}}ProblemName-{{i}}" name="problemName-{{i}}" class="form-control" placeholder="Name">
                    </td>

                    <td draggable="false">
                        <input required type="url" value="{{data['problems'][i]['url']}}" id="{{data['id']}}ProblemUrl-{{i}}" name="problemUrl-{{i}}" class="form-control" placeholder="https://codeforces.com/">
                    </td>

                    <td draggable="false">
                        <select id="{{data['id']}}ProblemFormat-{{i}}" name="problemFormat-{{i}}">
                            {% set problemFormat = data['problems'][i]['format'] %}
                            {% if problemFormat == "IOI" %}
                                <option value="IOI" selected> IOI </option>
                                <option value="ICPC"> ICPC </option>
                            {% else %}
                                <option value="IOI"> IOI </option>
                                <option value="ICPC" selected> ICPC </option>
                            {% endif %}
                        </select>
                    </td>

                    <td draggable="false">
                        <button id="{{data['id']}}btnAdd-{{i}}" name="btnAdd-{{i}}" type="button" class="w3-button clone">+</button>
                        <button id="{{data['id']}}btnDel-{{i}}" name="btnDel-{{i}}" type="button" class="w3-button remove">-</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr id="newClonedInput0" class="clonedInput" draggable="true" ondragstart="start();" ondragover="dragover();" ondragend="reorder();">
                    <td draggable="false">
                        <input required type="text" value="" id="newProblemName-0" name="problemName-0" class="form-control" placeholder="Name">
                    </td>

                    <td draggable="false">
                        <input required type="url" value="" id="newProblemUrl-0" name="problemUrl-0" class="form-control" placeholder="https://codeforces.com/">
                    </td>

                    <td draggable="false">
                        <select id="newProblemFormat-0" name="problemFormat-0">
                            <option value="IOI"> IOI </option>
                            <option value="ICPC"> ICPC </option>
                        </select>
                    </td>

                    <td draggable="false">
                        <button id="btnAdd-0" name="btnAdd-0" type="button" class="w3-button clone">+</button>
                        <button id="btnDel-0" name="btnDel-0" type="button" class="w3-button remove">-</button>
                    </td>
                </tr>
            </tbody>
        {% endif %}
    </table>

    <!-- Checkbox - allows users to choose whether they want to show their collections to the public. Default is False. -->
    {% if 'isPublic' in data %}
        {% if data['isPublic'] is sameas true %}
            <input type="checkbox" id="{{data['id'] + '-publicCheckbox'}}" name="publicCheckbox" value="public" checked>
        {% else %}
            <input type="checkbox" id="{{data['id'] + '-publicCheckbox'}}" name="publicCheckbox" value="public">
        {% endif %}
    {% else %}
        <input type="checkbox" id="newPublicCheckbox" name="publicCheckbox" value="public">
    {% endif %}
    <label for="publicCheckbox"> Add Collection to Public </label>

    <p> *Collection ID is an unique identifier for your collection. <b> It cannot be changed after creation of collection, and will be renamed arbitrarily if the ID already exists in server. </b> To prevent this, please check that your ID has not already been taken <a href="{{url_for('checkID')}}">here</a>.</p>
{% endmacro %}

{% macro createVerdictChoices(possibleVerdictChoices, currChoice) %}
    {% for verdict in possibleVerdictChoices %}
        {% if verdict == currChoice %}
            <option value="{{verdict}}" selected> {{verdict}} </option>
        {% else %}
            <option value="{{verdict}}"> {{verdict}} </option>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block otherScripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
<script src="{{ url_for('static', filename='js/homePage.js') }}"></script>
{% endblock %}

{% block body %}
<!-- show any alert bars if there is one-->
{% if success is defined %}
<div class="w3-display-container w3-border w3-green alertContainer">
    <p>{{success}}</p>
    <span onclick="this.parentElement.style.display = 'none';" class="w3-button w3-display-right">&times;</span>
</div>
{% endif %}
{% if warning is defined %}
<div class="w3-display-container w3-border w3-orange alertContainer">
    <p>{{warning}}</p>
    <span onclick="this.parentElement.style.display = 'none';" class="w3-button w3-display-right">&times;</span>
</div>
{% endif %}
{% if failure is defined %}
<div class="w3-display-container w3-border w3-red alertContainer">
    <p>{{failure}}</p>
    <span onclick="this.parentElement.style.display = 'none';" class="w3-button w3-display-right">&times;</span>
</div>
{% endif %}

<h2 class="maintitle"> CP Collections </h2>
<!-- The whole collection div has a semi-hidden form to handle delete collection requests -->
<form method="POST" action="{{url_for('deleteCollections')}}">
    <div id="collections">
        <!-- tab links -->
        <div class="flexcontainer" id="collectionstab">
            <div id="actualTabs" class="flexcontainer">
                <button type="button" class="w3-bar-item w3-button w3-light-gray w3-border" onclick='openCollectionsTab("publicCollectionsDiv", false);'> Public Collections </button>
                <button type="button" class="w3-bar-item w3-button w3-light-gray w3-border" onclick='openCollectionsTab("myCollectionsDiv", true);'> My Collections </button>
            </div>
            <div id="actualTabs" class="flexcontainer">
                <button type="submit" class="w3-bar-item w3-button w3-green invisibleAfterLoad" id="deletebutton"> Delete </button>
                <button type="button" class="w3-bar-item w3-button w3-green invisibleAfterLoad" id="cancelbutton"> Cancel </button>
                <button type="button" class="w3-bar-item w3-button w3-green invisibleAfterLoad" id="editcollectionsbutton"> Edit Collections </button>
            </div>
        </div>

        <!-- content in the 'Public Collections' tab -->
        <div id="publicCollectionsDiv" class="w3-border collectionscontainer">
            <div class="cardcontainer flexcontainer">
                <!-- Collections -->
                {% for key in publicOrderKey %}
                    {% set value = publicCollections[key] %}
                    <div class="w3-display-container collectionCardBorder">
                        <button type="button" class="w3-card-4 collectionCard" onclick='openModal("public{{key}}Modal")'>
                            <div class="h3-container w3-gray card-header">
                                <h5 class="card-title"> {{value['title']}} </h5>
                            </div>

                            <div class="card-desc">{{value['shortDescription']}}</div>

                            <div class="card-author"> 
                                <p> <b> Created by: </b> {{value['owner']}} </p>
                            </div>

                            <div class="card-created"> 
                                <p> <b> Created on: </b> {{value['createdDate']}} </p>
                            </div>

                            <div class="card-shared"> 
                                <p> 
                                    <b> Shared: </b> 
                                    {{value['publishedDate']}}
                                </p>
                            </div>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- content in the 'My Collections' tab -->
        <div id="myCollectionsDiv" class="w3-border collectionscontainer">
            <div class="cardcontainer flexcontainer">
                <!-- Collections -->
                {% for key in orderKey %}
                    {% set value = myCollections[key] %}
                    <div class="w3-display-container collectionCardBorder">
                        <span class="w3-display-topright deleteCollectionCheckboxSpan invisibleAfterLoad">
                            <!-- we identify this input field from the class in the enclosing span, so that the span can hide when unneeded -->
                            <input type="checkbox" name="{{key}}">
                        </span>
                        <button type="button" class="w3-card-4 collectionCard" onclick='openModal("{{key}}Modal")'>
                            <div class="h3-container w3-gray card-header">
                                <h5 class="card-title"> {{value['title']}} </h5>
                            </div>

                            <div class="w3-light-gray w3-border card-progress-bar">
                                {% set percentage = (value['solvedProblems'] / value['totalProblems'] * 100)|round|int %}
                                <div class="w3-green w3-text-black" style="width: {{percentage}}%">{{percentage}}%</div>
                            </div>

                            <div class="card-desc">{{value['shortDescription']}}</div>

                            <div class="card-created"> 
                                <p> <b> Created on: </b> {{value['createdDate']}} </p>
                            </div>

                            <div class="card-shared"> 
                                <p> 
                                    <b> Shared: </b> 
                                    {% if value['publishedDate'] is not none %}
                                        {{value['publishedDate']}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </p>
                            </div>
                        </button>
                    </div>
                {% endfor %}
                <!-- Add New Collections -->
                <div class="w3-display-container collectionCardBorder">
                    <button type="button" class="w3-card-4 collectionCard" onclick="openModal('addcollectionmodal', true)">
                        <div class="signtextgroup">
                            <div class="w3-border addsign"> <p class="addsigntext"> + </p> </div>
                            <div class="newcollectiontext"> Click to add a new collection... </div>    
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Modals -->

<!-- Modal specifically to add a new collection --> 
<div id="addcollectionmodal" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="closeModal('addcollectionmodal');" class="w3-button w3-display-topright">&times;</span>
        <h3> Create New Collection </h3>
        <form action="{{ url_for('addCollection') }}" method="POST" class="collectionForm w3-container">
            {{createProblemCollectionsForm({})}}
            <button type="submit" id="submitNewCollection" name="submitNewCollection" class="w3-button w3-right w3-green submitCollection"> Create Collection </button>
        </form>
      </div>
    </div>
</div>

<!-- Modals for user to change their collection settings -->
{% for key in orderKey %}
    {% set value = myCollections[key] %}
    <div id="{{key}}SettingsModal" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="closeModal('{{key}}SettingsModal');" class="w3-button w3-display-topright">&times;</span>
                <h3> Edit Collection </h3>
                <form action="{{ url_for('addCollection') }}" method="POST" class="collectionForm w3-container">
                    {{createProblemCollectionsForm(value)}}
                    <button type="submit" id="submit{{key}}Collection" name="submitNewCollection" class="w3-button w3-right w3-green submitCollection"> Save Collection </button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Modals to show users their problem collections, and to update their progress in their problems. -->
{% for key in orderKey %}
    {% set value = myCollections[key] %}
    <div id="{{key}}Modal" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="closeModal('{{key}}Modal');" class="w3-button w3-display-topright">&times;</span>
                <div class="updateProblemsForm w3-container">
                    <h3> {{value['title']}} </h3>
                    <h5> Description: </h5>
                    <div class="w3-container w3-border collectionDescription">{{value['description']}}</div>
                    <label> TODO Problems </label>
                    <table class="w3-table-all problemsTable">
                        <thead>
                            <tr class="w3-white"> 
                                <th class="nameField"> Problem Name </th>
                                <th class="urlLink"> Problem Link </th>
                                <th> Problem Verdict </th>
                                <th class="scoreField"> Score </th>
                                <th class="buttonField"> Remove From TODO </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(value['problems']|length) %}
                                {% set problem = value['problems'][i] %}
                                <!-- for those problems that are not set as important, we keep them invisible instead of not rendering the nodes in at all 
                                     This is to simpliy the 'process' of changing an unimportant problem to an important one to the user's eye - just 'show'
                                     the hidden row and hide the one under the 'Other problems' table. Works vice-versa --> 
                                <tr class="{{key}}Tr{{i}}{% if problem['important'] is sameas false %} invisibleAfterLoad{% endif %}" >
                                    <td class="nameField"> {{problem['name']}} </td>
                                    <td class="urlLink"> <a href="{{problem['url']}}"> {{problem['url']}} </a> </td>
                                    <td class="verdictField">
                                        <select name="problemVerdict-{{i}}" class="{{key}}Verdict{{i}}" onchange="updateAll(this.className, this.value);">
                                            {{createVerdictChoices(allVerdicts, problem['status'])}}
                                        </select>
                                    </td>
                                    {% if problem['format'] == "IOI" %}
                                        <td class="scoreField"> 
                                            <input type="number" value="{{problem['score']}}" name="score-{{i}}" class="{{key}}Score{{i}}" onchange="updateAll(this.className, this.value);">
                                        </td>
                                    {% else %}
                                        <td class="scoreField"> 
                                            <input type="text" value="N.A." name="score-{{i}}" class="{{key}}Score{{i}}" onchange="updateAll(this.className, this.value);" readonly>
                                        </td>
                                    {% endif %}
                                    <td class="buttonField">
                                        <button type="button" class="w3-button removeFromTODO">-</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <label> Other Problems </label>
                    <table class="w3-table-all problemsTable">
                        <thead>
                            <tr class="w3-white"> 
                                <th class="nameField"> Problem Name </th>
                                <th class="urlLink"> Problem Link </th>
                                <th> Problem Verdict </th>
                                <th class="scoreField"> Score </th>
                                <th class="buttonField"> Add to TODO </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(value['problems']|length) %}
                                {% set problem = value['problems'][i] %}
                                <tr class="{{key}}Tr{{i}}{% if problem['important'] is sameas true %} invisibleAfterLoad{% endif %}">
                                    <td class="nameField"> {{problem['name']}} </td>
                                    <td class="urlLink"> <a href="{{problem['url']}}"> {{problem['url']}} </a> </td>
                                    <td class="verdictField">
                                        <select name="problemVerdict-{{i}}" class="{{key}}Verdict{{i}}" onchange="updateAll(this.className, this.value);">
                                            {{createVerdictChoices(allVerdicts, problem['status'])}}
                                        </select>
                                    </td>
                                    {% if problem['format'] == "IOI" %}
                                        <td class="scoreField"> 
                                            <input type="number" value="{{problem['score']}}" name="score-{{i}}" class="{{key}}Score{{i}}" onchange="updateAll(this.className, this.value);">
                                        </td>
                                    {% else %}
                                        <td class="scoreField"> 
                                            <input type="text" value="N.A." name="score-{{i}}" class="{{key}}Score{{i}}" onchange="updateAll(this.className, this.value);" readonly>
                                        </td>
                                    {% endif %}
                                    <td class="buttonField">
                                        <button type="button" class="w3-button addToTODO">+</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <form action="{{url_for('updateProblems')}}" method="POST">
                        <!-- this would be the actual form that would be submitted. Values from visible 'form' earlier will be updated here
                        for submission. This is because we have 2 separate forms: 1 for "important (TODO)" problems, and the other to hold
                        other problems, but we can only submit one unique set of problem data. --> 
                        <!-- used for identify which collection is this at server side -->
                        <input type='hidden' name='collectionID' value="{{value['id']}}">
                        {% for i in range(value['problems']|length) %}
                            {% set problem = value['problems'][i] %}
                            <select name="problemVerdict-{{i}}" class="{{key}}Verdict{{i}}" style="display:none;"> 
                                {{createVerdictChoices(allVerdicts, problem['status'])}}
                            </select>
                            <input type="text" value='{% if problem["format"] == "ICPC" %}N.A.{% else %}{{problem["score"]}}{% endif %}' name="score-{{i}}" class="{{key}}Score{{i}}" style="display:none;">
                            <input type="text" value="{{problem['important']}}" name="isImportant-{{i}}" id="{{key}}isImportant{{i}}" style="display:none;">
                        {% endfor %}
                        <button type="submit" class="w3-button w3-right w3-green submitCollection"> Update Problem List </button>
                    </form>
                    <button type="button" class="w3-button w3-left w3-green editCollection" onclick="closeModal('{{key}}Modal');openModal('{{key}}SettingsModal', true);"> Edit Collection </button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Modals to show users public collections. -->
{% for key in publicOrderKey %}
    {% set value = publicCollections[key] %}
    <div id="public{{key}}Modal" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="closeModal('public{{key}}Modal');" class="w3-button w3-display-topright">&times;</span>
                <div class="updateProblemsForm w3-container">
                    <h3> {{value['title']}} </h3>
                    <h5> Description: </h5>
                    <div class="w3-container w3-border collectionDescription">{{value['description']}}</div>
                    <label>  Problems </label>
                    <table class="w3-table-all problemsTable">
                        <thead>
                            <tr class="w3-white"> 
                                <th class="publicNameField"> Problem Name </th>
                                <th class="publicUrlLink"> Problem Link </th>
                                <th class="publicFormatField"> Problem Format </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(value['problems']|length) %}
                                {% set problem = value['problems'][i] %}
                                <tr>
                                    <td class="publicNameField"> {{problem['name']}} </td>
                                    <td class="publicUrlLink"> <a href="{{problem['url']}}"> {{problem['url']}} </a> </td>
                                    <td class="publicFormatField"> <b> {{problem['format']}} </b> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p> <b> Note: </b> You would have to clone the problem list if you want to update the problems that you have done. </p>
                    <button type="submit" class="w3-button w3-right w3-green submitCollection"> Clone Problem List </button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}