<!DOCTYPE html>

{% macro render_field(field) %}
    <div>
        {{ field.label }}
        {# following input autocomplete guides #}
        {% if field.id == "newPassword" or field.id == "confirm" %}
            {{ field(class_="w3-input w3-border", autocomplete="new-password", **kwargs)|safe }}
        {% elif field.id == "password" %}
            {{ field(class_="w3-input w3-border", autocomplete="current-password", **kwargs)|safe }}
        {% elif field.name == "username" %}
            {{ field(class_="w3-input w3-border", autocomplete="username", **kwargs)|safe }}
        {% else %}
            {{ field(class_="w3-input w3-border", **kwargs)|safe }}
        {% endif %}
        {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endmacro %}

<html>
    <head>
        <title> CP Tracker </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <div id="infoandlogin">
            <div id="infocol"> </div>
            <div id="loginformdiv"> 
                <h3 class="centered"> Sign In </h3>
                <form action="{{ url_for('login') }}" method="POST" id="loginForm" class="w3-container">
                    {{ render_field(loginForm.username) }}
                    {{ render_field(loginForm.password) }}
                    <input type="submit" value="Log In"></input>
                </form>
                <hr>
                <h4 class="centered" id="orseparator"> OR </h4>
                <hr>
                <h3 class="centered"> Register </h3>
                <form action="{{ url_for('signUp') }}" method="POST" id="signupForm" class="w3-container">
                    {{ render_field(signupForm.username) }}
                    {{ render_field(signupForm.email) }}
                    {{ render_field(signupForm.password) }}
                    {{ render_field(signupForm.confirm) }}
                    <input type="submit" value="Sign Up"></input>
                </form>
            </div>
        </div>
    </body>
</html>