<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>CP Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        {% block otherLinks %}
        <!-- add other scripts and css stylesheets here -->
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- unfortunately w3.css does not support import to other css files -->
            <nav class="w3-bar w3-black">
                <a id="pagetitle" class="w3-bar-item w3-padding-16"> CP Tracker </a>
                <!-- we have to do this in reverse order as w3-right is fifo -->
                <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-right w3-padding-16"> Logout </a>
                <a href="/dummy" class="w3-bar-item w3-button w3-right w3-padding-16"> My Problem Collection </a>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>